{
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "printWidth": 100,
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
