---
import Layout from '~/layouts/Layout.astro'
import { getSortedPosts } from '~/utils'
import PostPreview from '~/components/PostPreview.astro'
import Pagination from '~/components/Pagination.astro'
import BlockHeader from '~/components/BlockHeader.astro'
import siteConfig from '~/site.config'
import TagsSection from '~/components/TagsSection.astro'

const sortedPosts = await getSortedPosts()
const postsHaveTags = sortedPosts.some(
  (post) => post.data.tags && post.data.tags.length > 0,
)

---

<Layout>
  {
    postsHaveTags && (
      <section>
        <BlockHeader>Tags</BlockHeader>
        <TagsSection posts={sortedPosts} />
      </section>
    )
  }
  {
    sortedPosts.length > 0 && (
      <section>
        <BlockHeader>Latest Posts</BlockHeader>
        {sortedPosts
          .reverse()
          .slice(0, Math.floor(siteConfig.pageSize / 2))
          .map((post) => (
            <PostPreview post={post} />
          ))}
        <Pagination nextLink="/blog/posts" nextText="All Posts" />
      </section>
    )
  }
</Layout>

<style is:global>
  a.heading-anchor {
    display: none !important;
  }
</style>
