---
import siteConfig from '~/site.config'
import LightDarkAutoButton from '~/components/LightDarkAutoButton.astro'
import Search from '~/components/Search.astro'
import SelectTheme from '~/components/SelectTheme.astro'
import { Image } from 'astro:assets'

const lightDarkAutoTheme = siteConfig.themes.mode === 'light-dark-auto'
const selectTheme = siteConfig.themes.mode === 'select' && siteConfig.themes.include.length > 1
---

<header>
  <div class='relative flex flex-wrap items-center justify-between bg-accent/10 rounded-xl gap-y-3'>
    <a
      id='logo'
      href='/blog'
      class='block px-4 py-1.5 max-w-full no-underline items-center bg-accent text-background font-bold rounded-xl'
    >
      {'/' + siteConfig.title}
    </a>

    <div class='grow-1 ml-3'>{'' + siteConfig.description}</div>

    <div class='flex items-center gap-3 mr-3 ml-auto pb-2 sm:pb-0'>
      <Search trailingSlashes={siteConfig.trailingSlashes} />
      {lightDarkAutoTheme && <LightDarkAutoButton />}
      {selectTheme && <SelectTheme />}
    </div>

    <script>
      const navMobileButton = document.getElementById('nav-mobile-button')
      const navMobileList = document.getElementById('nav-mobile-list')
      const navMobileListItems = navMobileList?.querySelectorAll('li')
      const toggleNavMobileMenu = (action: 'on' | 'off' | 'toggle') => {
        let isNowOpen: boolean = false
        if (action === 'on') {
          isNowOpen = true
          navMobileList?.classList.remove('invisible')
        } else if (action === 'off') {
          isNowOpen = false
          navMobileList?.classList.add('invisible')
        } else {
          isNowOpen = !navMobileList?.classList.toggle('invisible')
        }
        navMobileButton?.setAttribute('aria-expanded', isNowOpen ? 'true' : 'false')
        navMobileListItems?.forEach(listItem => {
          listItem.setAttribute('aria-expanded', isNowOpen ? 'true' : 'false')
        })
      }
      navMobileButton?.addEventListener('click', _ev => {
        toggleNavMobileMenu('toggle')
      })
    </script>
  </div>
</header>
